body {
	background-image: url(../images/bg.jpg);
	height: 550px;
}

.form-suma {
	display: block;
	background: #fff;
	width: 600px;
	height: 300px;
	margin: 0 auto;
	margin-top: 150px;
	border-radius: 10px;

}

.text {
	width: 100px;
	height: 100px;
	display: block;
	padding-top: 20px;
	padding-left: 80px;
}

h5 {
	color: #9e9e9e;
	font-weight: 200;
}

p {
	display: flex;
	color: #1db1cf;
	font-size: 30px;
	font-weight: 700;
	margin-top: -14px;
	margin-left: -15px;
}

.detail {
	width: 200px;
	height: 100px;
	padding-left: 80px;
}

h6 {
	color: #848080;
	margin-left: -20px;
	margin-top: -5px;
}

.t1{
	color: #1db1cf;
	font-size: 15px;
	text-align: right;
	margin-top: -45px;
	margin-left: 50px;
}

.t2{
	color: #1db1cf;
	font-size: 15px;
	text-align: right;
	margin-top: -15px;
	margin-left: 58px;
}

.button {
	display: inline-block;
	color: #1db1cf;
	width: 100px;
	margin-left: 58px;
	margin-top: -1px;
	border-color: #1db1cf;
	border-radius: 50px;
	cursor: pointer;
}

.button:hover {
	width: 150px;
	background-color: #3333337a;

}

.card {
	width: 390px;
	height: 250px;
	background: #1db1cf; 
    background: -moz-linear-gradient(top,  #1db1cf 0%, #1078ab 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1db1cf), color-stop(100%,#1078ab)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1db1cf 0%,#1078ab 100%); 
    background: -o-linear-gradient(top,  #1db1cf 0%,#1078ab 100%); 
    background: -ms-linear-gradient(top,  #1db1cf 0%,#1078ab 100%); 
    background: linear-gradient(to bottom,  #1db1cf 0%,#1078ab 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1db1cf', endColorstr='#1078ab',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	box-shadow: 10px 10px 10px #000000ba;
	margin-top: -273px;
	margin-left: 700px;

}

.card-name {
	color: #fff;
	font-size: 15px;
	padding-top: 15px;
	margin-left: 30px;
}

.logo1 {
	width: 60px;
	height: 30px;
	margin-left: 315px;
	margin-top: -50px;
	
}

.card .inputs {
	list-style: none;
	margin-top: 30px;
}

input:valid {
	border-color: green;
}

input:invalid {
	border-color: red;
}

.inputs li {
    	
}

label {
	color: #ffffffab;
	font-size: 12px;
	margin-top: 10px;
}

input {
	background-color: #1db1cf0f;
	color: #fff;
	display: flex;
	text-align: center;
}

.last {
	margin-bottom: 10px;
}

.gr-input {
	width: 45px;
	text-align: center;
} 

.c-ex {
	width: 130px;
	text-align: center;
}

.expire {
	float: left;
}

.ccv-card {
	float: right;
	margin-right: 35px;
}





